*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart-container {
  display: flex;
  width: 90%;
  margin: 20px auto;
  gap: 20px;
}

.left {
  flex: 2;
}
.right {
  flex: 1;
  position: sticky;
  top: 20px;
}

.left h2{
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cart-item {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}

.item-img {
  width: 110px;
  height: 110px;
  background: #d0ddd7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-details {
  flex: 1;
}
.item-title {
  font-size: 18px;
  font-weight: bold;
}
.item-price {
  margin: 6px 0;
  font-size: 19px;
  color: #3e5c76;
}

.qty-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.qty-btn {
  width: 32px;
  height: 32px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  cursor: pointer;
}

.actions {
  margin-top: 10px;
}
.actions span {
  margin-right: 20px;
  color: #3e5c76;
  cursor: pointer;
  font-weight: 600;
}

/* RIGHT PRICE BOX */
.price-box {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.green {
  color: green;
}
.total {
  font-size: 18px;
  margin-top: 10px;
}
.save-text {
  color: green;
  font-weight: bold;
}

/* BOTTOM ORDER BAR */
.bottom-bar {
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 100%; */
  background: white;
  padding: 12px;
  display: flex;
  justify-content: center;
}
#place-order {
    background: #ff6f00;
    padding: 12px 30px;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight:500;
}
#place-order:hover{
    background-color: darkorange;
}


.empty-message {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.empty-message a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #3e5c76;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

