    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6; /* Soft professional grey-blue */
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img{
    width: 100px;
}