* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- Navigation --- */
.navbar {
    background: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #2c3e50;
}

.logo span {
    color: #e67e22;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    margin: 0 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #e67e22;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.orderBox{
    display: flex;
    /* border: 1px solid black; */
    margin-left: 18px;
    margin-top: 25px;
    margin-right: 18px;
    gap: 30px;
    flex-wrap:wrap;
    align-content: flex-start;
    padding: 15px;
}
.box{
    border: 1px solid green;
    display: flex;
    gap: 14px;
    /* flex: 0 0 calc(25% - 30px);  */
    background-color: #d0ec92;
    /* color: #fff; */
}
.text{
    padding: 8px;
}
.orderDetail{
    border: 1px solid black;
    padding: 15px;
    background-color: antiquewhite;
}
.box img{
    width: 150px;
    height: auto;
    object-fit: cover;
}
/* .text{
    margin-top: 4px;
} */
.box button{
    background:#e74c3c; 
    color:white; 
    border:none; 
    padding:6px 12px; 
    border-radius:5px; 
    cursor:pointer;
    margin-left: 19px;
    margin-top: 10px;
}
.orderDetail > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px; /* important - hover area increase */
}

.dropbtn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
}

/* Dropdown Box */
.dropdown-content {
  position: absolute;
  top: 100%;   /* NO GAP */
  left: 0;
  background: #ffffff;
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: 0.25s ease;
}

/* Show dropdown */
.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background: #f4f4f4;
  color: #e67e22;
}